@{
    ViewData["Title"] = "Confirmation";
}

<p>Your changes have been made! Thank you for helping make Utah's roads safer.</p>


    <a class="btn btn-primary" asp-controller="Home" asp-action="crashes">Go Back To Crash Summaries</a>

