@{
    ViewData["Title"] = "Add New Crash";
}

@model UtahCrashesCracked.Models.Crash;

<div>
    <form method="post">

        <div asp-validation-summary="All"></div>

        <label asp-for="crash_id">Crash ID:</label>
        <input asp-for="crash_id" /><br />
        <label asp-for="crash_datetime">Crash Date Time:</label>
        <input asp-for="crash_datetime" /><br />
        <label asp-for="route">Route:</label>
        <input asp-for="route" /><br />
        <label asp-for="milepoint">Milepoint:</label>
        <input asp-for="milepoint" /><br />
        <label asp-for="lat_utm_y">Lattitude:</label>
        <input asp-for="lat_utm_y" /><br />
        <label asp-for="long_utm_x">Longitude:</label>
        <input asp-for="long_utm_x" /><br />
        <label asp-for="main_road_name">Main Road Name:</label>
        <input asp-for="main_road_name" /><br />
        <label asp-for="city">City:</label>
        <input asp-for="city" /><br />
        <label asp-for="county_name">County Name:</label>
        <input asp-for="county_name" /><br />
        <label asp-for="crash_severity_id">Crash Severity ID:</label>
        <select asp-for="crash_severity_id">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
        <label asp-for="work_zone_related">Work Zone Related:</label>
        <select asp-for="work_zone_related">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
        <label asp-for="pedestrian_involved">Pedestrain Involved:</label>
        <select asp-for="pedestrian_involved">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
        <label asp-for="bicyclist_involved">Byciclist Involved:</label>
        <select asp-for="bicyclist_involved">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
        <label asp-for="motorcycle_involved">Motorcycle Involved:</label>
        <select asp-for="motorcycle_involved">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
        <label asp-for="improper_restraint">Improper Restraint:</label>
        <select asp-for="improper_restraint">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
        <label asp-for="unrestrained">Unrestrained:</label>
        <select asp-for="unrestrained">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
        <label asp-for="dui">DUI:</label>
        <select asp-for="dui">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
        <label asp-for="intersection_related">Intersection Related:</label>
        <select asp-for="intersection_related">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
        <label asp-for="wild_animal_related">Wild Animal Related:</label>
        <select asp-for="wild_animal_related">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
        <label asp-for="domestic_animal_related">Domestic Animal Related:</label>
        <select asp-for="domestic_animal_related">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
        <label asp-for="overturn_rollover">Overturn or Rollover:</label>
        <select asp-for="overturn_rollover">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
        <label asp-for="commercial_motor_veh_involved">Commercial Motor Vehicle Involved:</label>
        <select asp-for="commercial_motor_veh_involved">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
        <label asp-for="teenage_driver_involved">Teenage Driver Involved:</label>
        <select asp-for="teenage_driver_involved">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
        <label asp-for="older_driver_involved">Older Driver Involved:</label>
        <select asp-for="older_driver_involved">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
        <label asp-for="night_dark_condition">Night or Dark Condition:</label>
        <select asp-for="night_dark_condition">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
        <label asp-for="single_vehicle">Single Vehicle:</label>
        <select asp-for="single_vehicle">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
        <label asp-for="distracted_driving">Distracted Driving:</label>
        <select asp-for="distracted_driving">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
        <label asp-for="drowsy_driving">Drowsy Driving:</label>
        <select asp-for="drowsy_driving">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />
        <label asp-for="roadway_departure">Roadway Departure:</label>
        <select asp-for="roadway_departure">
            <option value="true">Yes</option>
            <option value="false">No</option>
        </select><br />

        <button type="submit">Make Changes</button>
    </form>
</div>

