@{
    ViewData["Title"] = (ViewBag.Page == "New" ? "Add New Crash" : "Make Changes");
}

@model UtahCrashesCracked.Models.Crash;

<div class="row justify-content-start"><div class="col-4 text-center my-auto"><br /><br /><br /><br /></div></div>
<div class="row justify-content-start">
    <div class="col-4 text-center my-auto">
    </div>
    <div class="col-4 text-center my-auto">
        <h2>@ViewData["Title"]</h2>

    </div>
    <div class="col-4 text-center my-auto">
    </div>
</div>
<div class="row justify-content-start p-3">
    <div class="col-4"><br /></div>
    <div class="col-4 text-center my-auto center-block">
        <form class="row g-3 justify-content-center" method="post" controller="Home" asp-action="NewCrash">
            @if(ViewBag.Page == "New")
            {
                <input type="hidden" asp-for="crash_id" value=0 />
            }
            else{
            <div asp-validation-summary="All"></div>
            <div class="form-group col-md-6">
                <label asp-for="crash_id">Crash ID:</label>
                <input asp-for="crash_id" class="form-control" type="hidden"/>
            </div>
            }
            <div class="form-group col-md-6">
                <label asp-for="crash_datetime">Crash Date Time:</label>
                <input asp-for="crash_datetime" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="route">Route:</label>
                <input asp-for="route" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="milepoint">Milepoint:</label>
                <input type="number" asp-for="milepoint" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="lat_utm_y">Lattitude:</label>
                <input type="number" asp-for="lat_utm_y" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="long_utm_x">Longitude:</label>
                <input type="number" asp-for="long_utm_x" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="main_road_name">Main Road Name:</label>
                <input asp-for="main_road_name" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="city">City:</label>
                <input asp-for="city" class="form-control" />
            </div>
            <div class="form-group col-md-6">
                <label asp-for="county_name">County Name:</label>
                <select asp-for="county_name" class="form-control">
                    <option value="">Select a county</option>
                    @foreach (string c in ViewBag.Counties)
                    {
                        <option value="@c">@c</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="crash_severity_id">Crash Severity ID:</label>
                <select asp-for="crash_severity_id" class="form-control">
                    <option value="1">1: No Injury</option>
                    <option value="2">2: Possible Injury</option>
                    <option value="3">3: Suspected Minor Injury</option>
                    <option value="4">4: Suspected Serious Injury</option>
                    <option value="5">5: Fatal</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="work_zone_related">Work Zone Related:</label>
                <select asp-for="work_zone_related" class="form-control">
                    <option value="" disabled selected></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="pedestrian_involved">Pedestrain Involved:</label>
                <select asp-for="pedestrian_involved" class="form-control">
                    <option value="" disabled selected></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="bicyclist_involved">Byciclist Involved:</label>
                <select asp-for="bicyclist_involved" class="form-control">
                    <option value="" disabled selected></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="motorcycle_involved">Motorcycle Involved:</label>
                <select asp-for="motorcycle_involved" class="form-control">
                    <option value="" disabled selected></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="improper_restraint">Improper Restraint:</label>
                <select asp-for="improper_restraint" class="form-control">
                    <option value="" disabled selected></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="unrestrained">Unrestrained:</label>
                <select asp-for="unrestrained" class="form-control">
                    <option value="" disabled selected></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="dui">DUI:</label>
                <select asp-for="dui" class="form-control">
                    <option value="" disabled selected></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="intersection_related">Intersection Related:</label>
                <select asp-for="intersection_related" class="form-control">
                    <option value="" disabled selected></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="wild_animal_related">Wild Animal Related:</label>
                <select asp-for="wild_animal_related" class="form-control">
                    <option value="" disabled selected></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="domestic_animal_related">Domestic Animal Related:</label>
                <select asp-for="domestic_animal_related" class="form-control">
                    <option value="" disabled selected></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="overturn_rollover">Overturn or Rollover:</label>
                <select asp-for="overturn_rollover" class="form-control">
                    <option value="" disabled selected></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="teenage_driver_involved">Teenage Driver Involved:</label>
                <select asp-for="teenage_driver_involved" class="form-control">
                    <option value="" disabled selected></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="older_driver_involved">Older Driver Involved:</label>
                <select asp-for="older_driver_involved" class="form-control">
                    <option value="" disabled selected></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="night_dark_condition">Night or Dark Condition:</label>
                <select asp-for="night_dark_condition" class="form-control">
                    <option value="" disabled selected></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="single_vehicle">Single Vehicle:</label>
                <select asp-for="single_vehicle" class="form-control">
                    <option value="" disabled selected></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="distracted_driving">Distracted Driving:</label>
                <select asp-for="distracted_driving" class="form-control">
                    <option value="" disabled selected></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="drowsy_driving">Drowsy Driving:</label>
                <select asp-for="drowsy_driving" class="form-control">
                    <option value="" disabled selected></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="roadway_departure">Roadway Departure:</label>
                <select asp-for="roadway_departure" class="form-control">
                    <option value="" disabled selected></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <div class="form-group col-12">
                <label asp-for="commercial_motor_veh_involved">Commercial Motor Vehicle Involved:</label>
                <select asp-for="commercial_motor_veh_involved" class="form-control">
                    <option value="" disabled selected></option>
                    <option value="true">Yes</option>
                    <option value="false">No</option>
                </select>
            </div>
            <button class="btn btn-primary"type="submit">@(ViewBag.Page == "New" ? "Add New Crash" : "Make Changes")</button>
        </form>
    </div>
    <div class="col-4"><br /><br /><br /></div>
</div>
