@{
    ViewData["Title"] = "Significance of Seatbelts";
}

<body id="page-top">
    <header class="mastheadseatbelt background-image">
        <meta http-equiv="content-security-policy"
              content="script-src 'self' use.fontawesome.com fonts.googleapis.com" />
        <div class="container">
            <div class="masthead-heading text-uppercase display-4" style="text-shadow: 2px 2px 8px #000000">Are seatbelts important?</div>
        </div>
    </header>
    <br />
    <br />
    <div class="row justify-content-start p-3">
        <div class="col-5 text-center my-auto">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="subheading">Impact of Seatbelts on Crash Severity</h4><br />
                </div>
                <div class="timeline-body">
                    <p class="text-muted">What impact does wearing a seatbelt actually have on your chances of being injured or killed in a car accident? </p>
                    <p class="text-muted">To the right, you will be able to see the predicted crash severity of an accident under different seatbelt-related scenarios.</p>
                </div>
            </div>
        </div>
        <div class="col-6 text-center border border-4 rounded p-2 mx-4">
            <!-- Tab Buttons -->
            <ul id="tabstrip" class="nav nav-tabs justify-content-center" role="tablist">
                @*<li class="active">
                <a href="#_opentab" class="nav-link active" role="tab" data-toggle="tab">With Seatbelt</a>
            </li>*@
                <li class="active">
                    <a href="#_FirstTab" class="nav-link active " role="tab" data-toggle="tab">With Seatbelt</a>
                </li>
                <li>
                    <a href="#_SecondTab" class="nav-link" role="tab" data-toggle="tab">Without Seatbelt</a>
                </li>
                <li>
                    <a href="#_ThirdTab" class="nav-link" role="tab" data-toggle="tab">Improperly Worn Setbelt</a>
                </li>
            </ul>

            <!-- Tab Content Containers -->
            <div class="tab-content m-4">
                <!--<div class="tab-pane active" id="_opentab">-->
                <!-- Call partial view to load initial page load data -->
                <!--<p>testing</p>
        </div>-->
                <div class="tab-pane active" id="_FirstTab">
                    <!-- Call partial view to load initial page load data -->
                    <partial name="_SeatbeltPartial" view-data="ViewData" />
                </div>
                <div class="tab-pane fade" id="_SecondTab">
                    <partial name="_SeatbeltPartial2" view-data="ViewData" />
                </div>
                <div class="tab-pane fade" id="_ThirdTab">
                    <partial name="_SeatbeltPartial3" view-data="ViewData" />
                </div>
            </div>
            @*<div class="col-1 text-center "></div>*@
            <p class="text-muted"><small >*Calculated using a model trained on the data collected for crashes here in Utah.</small></p>
        </div>
    </div>


</body>

