@{
}
<body id="page-top">
    <header class="mastheadseatbelt background-image">
        <meta http-equiv="content-security-policy"
                content="script-src 'self' use.fontawesome.com fonts.googleapis.com" />
        <div class="container">
            <div class="masthead-heading text-uppercase display-4" style="text-shadow: 2px 2px 8px #000000">Why are seatbelts important?</div>
        </div>
    </header>
    <br />
    <br />
    <div class="row justify-content-start p-3">
        <div class="col-5 text-center ">
            <p>Put interesting data later</p>
        </div>
        <div class="col-6 text-center border border-4 rounded p-2 mx-4">
            <h2>IMPACT ON CRASH SEVERITY</h2>
            <!-- Tab Buttons -->
            <ul id="tabstrip" class="nav nav-tabs justify-content-center" role="tablist">
                @*<li class="active">
                <a href="#_opentab" class="nav-link active" role="tab" data-toggle="tab">With Seatbelt</a>
            </li>*@
                <li class="active">
                    <a href="#_FirstTab" class="nav-link active " role="tab" data-toggle="tab">With Seatbelt</a>
                </li>
                <li>
                    <a href="#_SecondTab" class="nav-link" role="tab" data-toggle="tab">Without Seatbelt</a>
                </li>
                <li>
                    <a href="#_ThirdTab" class="nav-link" role="tab" data-toggle="tab">Improperly Worn Setbelt</a>
                </li>
            </ul>

            <!-- Tab Content Containers -->
            <div class="tab-content m-4">
                <!--<div class="tab-pane active" id="_opentab">-->
                <!-- Call partial view to load initial page load data -->
                <!--<p>testing</p>
        </div>-->
                <div class="tab-pane active" id="_FirstTab">
                    <!-- Call partial view to load initial page load data -->
                    <partial name="_SeatbeltPartial" view-data="ViewData" />
                </div>
                <div class="tab-pane fade" id="_SecondTab">
                    <partial name="_SeatbeltPartial2" view-data="ViewData" />
                </div>
                <div class="tab-pane fade" id="_ThirdTab">
                    <partial name="_SeatbeltPartial3" view-data="ViewData" />
                </div>
            </div>
            @*<div class="col-1 text-center "></div>*@
        </div>
    </div>


</body>

