@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Data Summaries";
}

<body id="page-top">
    <header class="mastheadDDD background-image">
        <div class="container">
            <div class="masthead-heading text-uppercase display-4" style="text-shadow: 2px 2px 8px #000000">Break down of Utah Crashes</div>
        </div>
    </header>
    <div class="row">
        <div class="col">
            <br /><br /><br /><br /><br />
        </div>
    </div>
    <div class="row justify-content-start p-3">
        <div class="col-1 text-center my-auto"></div>
        <div class="col-4 text-center my-auto">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="subheading">Crash Locations</h4><br />
                </div>
                <div class="timeline-body">
                    <p class="text-muted">Hover over the different cities in Utah in the map to see the total number of crashes that have taken place in each.</p>
                    <p class="text-muted">You will notice the majority of crashes happen along main interstates and the higher populated areas, as you would expect, but there are some exceptions.</p>
                </div>
            </div>
        </div>
        <div class="col-6 text-center p-2 mx-4">
            <iframe src="https://public.tableau.com/views/CrashesCracked/LocationofCrashes?:language=en-US&:display_count=n&:origin=viz_share_link&:toolbar=no&:showVizHome=no&:embed=true"
                    width="645" height="655"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <br /><br /><br /><br /><br />
        </div>
    </div>
    <div class="row justify-content-start p-3">
        <div class="col-8 text-center p-2 mx-4">
            <iframe class="p-1" src="https://public.tableau.com/views/Incidents_16493744787170/Countsperincident?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link&:toolbar=no&:showVizHome=no&:embed=true" width="970" height="636"></iframe>
        </div>
        <div class="col-3 text-center my-auto">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="subheading">Crash Attribute Trends</h4><br />
                </div>
                <div class="timeline-body">
                    <p class="text-muted">Explore to the left the total crashes related to the listed categories. </p>
                    <p class="text-muted">Try filtering by crash severity to see how it changes the totals.</p>
                    <p class="text-muted">
                        The meanings of the rankings is as follows:<br />1: No injuries<br />
                        2: Possible injuries<br />3: Minor injuries<br />4: Serious injuries
                        <br />5: One or more fatalities
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <br /><br /><br /><br /><br />
        </div>
    </div>
    <div class="row justify-content-start p-1">
        <div class="col-2 text-center my-auto"></div>
        <div class="col-3 text-center my-auto">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="subheading">Time of Day</h4><br />
                </div>
                <div class="timeline-body">
                    <p class="text-muted">Does the time of day you drive affect the likelihood you will be in an accident?</p>
                    <p class="text-muted">Explore the answer in this chart.</p>
                </div>
            </div>
        </div>
        <div class="col-5 text-center">
            <iframe class="p-1" src="https://public.tableau.com/views/TimeofDay_16493753713120/TimeofDay?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link&:toolbar=no&:showVizHome=no&:embed=true" width="670" height="600"></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <br /><br /><br /><br /><br />
        </div>
    </div>
    <div class="row justify-content-start p-3">
        <div class="col-8 text-center p-2 mx-4">
            <iframe class="p-1" src="https://public.tableau.com/views/CrashPerMonth/CrashoverTime?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link&:toolbar=no&:showVizHome=no&:embed=true" width="840" height="636"></iframe>

        </div>
        <div class="col-3 text-center my-auto">
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4 class="subheading">Time of Year</h4><br />
                </div>
                <div class="timeline-body">
                    <p class="text-muted">What months of the year have the highest numbers of severe accidents? The answer may suprise you </p>
                    <p class="text-muted">Explore counts of crashes of different severity ranking during the different months of the year in Utah.</p>
                </div>
            </div>
        </div>
    </div>
</body>