@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1 class="m-4">@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
        <h4 class="m-5">            
            Thanks for registering your account, please <a id="confirm-link" href="@Model.EmailConfirmationUrl">click here to confirm your email.</a>
        </h4>
    }
    else
    {
        <p class="m-5">
                Please check your email to confirm your account.
        </p>
    }
}
