@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<br />
<div class="row">
    <div class="col-1"></div>
    <div class="col-5 text-center">
        <img class="" width=100% src="/assets/img/noseatbelt.png" />
    </div>
    <div class="col-6 text-center">
        <div class="timeline-panel pl-1">
            <div class="timeline-heading pl-2">
                <h3>Predicted Crash Severity : @ViewBag.noseatbelt</h3>
                <h6 class="subheading">
                    @if (ViewBag.seatbelt == "1")
                    {<p>Minor accident with no injuries</p>}
                    else if (ViewBag.seatbelt == "2")
                    {<p>Minor accident with possible injuries</p>}
                    else if (ViewBag.seatbelt == "3")
                    {<p>Accident with minor injuries</p>}
                    else if (ViewBag.seatbelt == "4")
                    {<p>Accident with serious injuries</p>}
                    else
                    {<p>Major accident with one or more fatalities</p>}
                </h6>
            </div>
            <div class="timeline-body"><p class="text-muted">Not wearing a seatbelt in the case of an accident can greatly increase the risk for both drivers and passengers of getting <strong>YEETED</strong> out of your vehicle, injured, or killed.</p></div>
        </div>
    </div>
</div>
<br />